/*----------------------------APP COMPONENT-------------------------*/

@font-face{
  font-family: "Mont";
  src:  url("/Mont.ttf");
}

body{
  overflow-x: hidden!important;
   overflow-y: hidden!important;
background-color: black;
}





#loader{

background-color:rgba(0,0,0,0.9)!important;
z-index: 900px!important;

}




#loaderTorito{

  width:60%;
  border-radius: 20px;
  box-shadow: 10px 10px 5px black;
  background-color: transparent;
  border: 1px solid whitesmoke;

}


#homeNavBar{


}


#btnNavBar{

width:25% !important;

}


#btnNavBarV{
padding-top:200px!important ;


}



#myNavbar2{

background-color: rgba(0, 0, 0, 0)!important;
font-size: 20px !important;


}

#myNavbar2:hover{
background-color: darkgray!important;

}



/*TORITO LOGO BRO*/

#ToritoLogo{
width: 25%;
background-color: transparent!important;
}

/*-----Botones NavBar 2-----*/
#user{
width:25% !important;
background-color: rgba(0, 0, 0, 0.9)!important;
border-radius: 10px!important;

}

#btnGiftcards{
width:25% !important;
background-color: rgba(0, 0, 0, 0.9)!important;
border-radius: 10px!important;
text-decoration: none!important;


}

#lblMyNav2{
  
  width:25% !important
}

#logOut{
width:24% !important;
text-decoration: none!important;



}
/*-----Fin botones NavbarAdmin------*/



/* FOOTER */

#ftr1{
background-color: transparent;
margin-top: -25%;
color: white;
height: 50px;
font-weight: bold;
}


/*------------------------HOME COMPONENT----------------------------*/
.btnHome{

position: absolute!important;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
  
  /*/padding: 12px 24px;*/
  border: none;
  cursor: pointer;
  border-radius: 5px;


}


#rowHome{

background-image: url("https://res.cloudinary.com/dzyvb836r/image/upload/v1663361535/TORITO_12_1_aqzwqp_y2lkun.jpg");
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
background-size: cover;


}

#btnHomeSmall{
 box-shadow: 10px 10px 5px black;
border-radius: 10px;
width: 130px !important;
background-color: rgba(176,40,42,0.8)!important;
font-weight: bold;
margin-top: 60%;
}


#columnHome{
min-height: 60vh!important;
}

#subTittle{
font-size: 20px;

}



/*------------------------------------------------------------------*/
#colDown{
min-height: 80vh!important;

}

#img_container {
    position:relative;
    display:inline-block;
    text-align:center;
    border:1px solid red;
}

.button {
    position:absolute;
    bottom:10px;
    right:10px;
    width:100px;
    height:30px;
}




#sectionMain{
background-color: black;


}



.modal-title{

  color:  black;
}

.modalConfirm{
color:  black;

}

.btn-dark{
width: 200px;

}

/*------------------------LOGIN COMPONENT----------------------------*/
#principalLogin{
  
  
  background-image: url("https://res.cloudinary.com/dzyvb836r/image/upload/v1646957600/rodeo3_sg2mjh.jpg");
  background-color:  rgba(0, 0, 0, 1);
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  color: white;
  
  
  
  
}



/*----------------------- VIEW GIFTCARDs COMPONENENT----------------------- */
#viewGiftcard {
 
  color:white;
  background-image: url("https://res.cloudinary.com/dzyvb836r/image/upload/v1646957600/rodeo3_sg2mjh.jpg");
  background-color:  rgba(0, 0, 0,1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  
  
}


#loaderToritoSeba{
  
 

}



#toroLoaderGcs{
 filter:  invert(100%)  ;
 width:30%;
 border-radius: 20px;
 box-shadow: 10px 10px 5px white;
 background-color: transparent;
 border: 1px solid black;

}


/*Primer fondo del acordeon , capa por debajo*/
.accordion-item{
border-radius: 20px!important;
background-color: rgba(93, 75, 75, 0.5) !important;

}

/* Fondo despliegue del acordeon */
.accordion-collapse{

border-radius: 20px!important;
background-color: rgba(0, 0, 0, 0.5) !important;


}

#buttonAcordion{

border-radius: 20px!important;
background-color: rgba(93, 75, 75, 0.5) !important;

}


/*------------------------VIEW GIFTCARD COMPONENT-----------------------*/
#principalGiftcard{

 background-color: rgba(0, 0, 0, 0.4);
  color:white!important;
  background-image: url("https://res.cloudinary.com/dzyvb836r/image/upload/v1646957600/rodeo_f0kgdj.jpg");
  background-color:  rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-position: center;
  padding-top: 10%;
  min-height: 80vh!important;
  border: white;
  padding-left: 5%;
  padding-right: 5%;
  border-left: 1px solid;
  border-right: 1px solid;

}


#formEdit{

  color:white; font-size: 12px;
  }


#highL2{
font-size: 10px;
color:  white;
font-weight: bold;
font-family: monospace;


}



#tGc2{
color: white;

font-weight: bold;
text-align: center;
margin-left: 20%;
}


/*------------------------ CHECKOUT COMPONENT-----------------------*/

#checkoutGiftcard{
background-image: url("https://res.cloudinary.com/dzyvb836r/image/upload/v1663361536/TORITO54_dperd3_n7e9ob.jpg");
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  color: white;
  background-size: cover;
 

 
}

#containerCheck{
height:auto;
 min-height: 657px;

}


#btnCheckout{

background-color: rgba(176,40,42,0.9);
width: 18rem!important;
color:  white;
text-transform: uppercase;
border-radius: 10px;
box-shadow: 5px 5px 5px black;
font-size: 20px;
height: 40px;
font-weight: bold;
}


#icoHome{
margin-right: 5%;
margin-top: 5%;
width: 12%;
}


#rowGiftcard{

margin-top: 30%

}



.card-body{
  padding: 0%!important;
}

.form-control{
height: 25px;
border-color: black;


}

.form_error{
  font-size: 10px;
  height: 10px;
  }


#actorLabel{
font-size: 20px;

}

#card{

width: 18rem;
background-color: rgba(0, 0, 0, 0.5);
 color: white;


}

#cardBody{


}

.form-control{
border-radius: 10px;


}

/*------------------------ Confirm GIFTCARD COMPONENT-----------------------*/



#confirmGiftcard{

 background-color: rgba(0, 0, 0, 0.4);
  color:white!important;
  background-image: url("https://res.cloudinary.com/dzyvb836r/image/upload/v1646957599/rodeo5_ugojk6.jpg");
  background-color:  rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-position: center;
  padding-top: 10%;
 
  border: white;
  padding-left: 5%;
  padding-right: 5%;
  border-left: 1px solid;
  border-right: 1px solid;

}


#tableValues{
font-size: 12px;
color: white;

}


/*-------------------------CONTACT COMPONENT---------------------------*/

#rowContact{

background-color: rgba(0, 0, 0, 0.4);
  color:white!important;
  background-image: url("https://res.cloudinary.com/dzyvb836r/image/upload/v1663361534/TORITO_11_1_ztrhlq_ho7drj.jpg");
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
background-size: cover;


}

#imgCar1{


  background-size: cover;
  background-position: center;
}


#imgCar2{



  background-size: cover;
  background-position: center;

}

#btnContact{
 box-shadow: 10px 10px 5px black;
border-radius: 15px;
width: 220px;
background-color: rgba(176,40,42,0.8)!important;
font-weight: bold;
}


#imgCard3{

  background-size: cover;
  background-position: center;



}

#baseContainer{

background-color: rgba(0, 0, 0, 0.6);

border-radius: 40px;

padding: 5%;


}

.carousel-indicators{
margin-bottom: 2rem;


}

#imgCard{

width: 100%;
border-radius: 20px;


}

#textCard{
font-size: 13px;

}




#locales{
  font-size: 15px!important;
  font-weight: bold;
}


#rowColumnContact{
min-height: 90vh;

}




/*---------------------------SHOWROOM COMPONENT----------------------------*/ 

.card{
  border-radius: 15px;
  color: black;


}

.card-footer{
  background-color:transparent;

}

#imgCard{

border-radius: 40px;
}



#staticBackdrop{

background-color: rgba(0, 0, 0,0.6)!important;

}
#staticBackdrop3{

background-color: rgba(0, 0, 0,0.6)!important;
margin-top: 0%;
}

#modalReport{

  background-color: rgba(0, 0, 0,0.3)!important;
color: white!important;
border-color: black!important;
}

#btnShowRoom{
width: 130px!important;
height: 30px!important;
text-decoration: none;
border-radius: 5px;
box-shadow: 5px 5px 5px black;

}


#reportForm{
font-size: 12px;
background-color: rgba(0, 0, 0,0.3)!important;


}

.form_error{

color: white;
background-color: rgba(255, 0, 0, 0.4);
border-radius: 5px;

}

.form-text{
color:white!important;
font-size: 11px;
}

/*--------------------------- SUCCESS COMPONENT----------------------------*/ 
#rowSuccess{
background-color: rgba(0, 0, 0, 0.4);
  color:white!important;
  background-image: url("https://res.cloudinary.com/dzyvb836r/image/upload/v1663361540/mockup_gift_card_gcvt4d_vrsoqv.jpg");
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
background-size: cover;

}

#btnSuccess{
width: 19rem;
background-color: rgba(54,177,80,0.85)!important;
border-radius: 20px;
box-shadow: 10px 10px 10px black;
height: 65px;
font-size: 24px;
font-weight: bold;
text-align: center;
color: white;
vertical-align: middle;

}

#btnSuccess2{
width: 19rem;
background-color: rgba(0,0,0,0.50)!important;
border-radius: 15px;
box-shadow: 10px 10px 10px black;
height: 70px;
font-size: 15px;

text-align: center;
color: white;
vertical-align: middle;
padding-top: 20%;

}



#btnPending{
width: 19rem;
background-color: rgba(208,121,52,0.85)!important;
border-radius: 20px;
box-shadow: 10px 10px 10px black;
height: auto;
font-size: 22px;
font-weight: bold;
text-align: center;
color: white;
vertical-align: middle;

}

#btnFail{
width: 19rem;
background-color: rgba(202,58,57,0.85)!important;
border-radius: 20px;
box-shadow: 10px 10px 10px black;
height: auto;
font-size: 22px;
font-weight: bold;
text-align: center;
color: white;
vertical-align: middle;

}







/*-------------------------------------------------------------------
                        10. RESPONSIVE *-- By Matias PY --*
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
                        1920px min
-------------------------------------------------------------------*/
@media (min-width:1920px) {
  
#icoHome{
margin-right: 2%;
margin-top: 2%;
width: 5%;
}

#card{
width: 30rem;
font-size: 25px;
}




#btnShowRoom{
font-size: 18px;
}


#btnHomeSmall{
width: 300px!important;
font-size: 30px!important;

}


#rowGiftcard{
margin-top: 20%
}


#ToritoLogo{
width: 15%;

}

#subTittle{
font-size: 40px;

}


#ftr1{
margin-top: -7%;

}


#ftr3{
font-size: 30px;
}

#actorLabel{
font-size: 30px;

}

#btnCheckout{

width: 30rem!important;
font-size: 30px;
height: 60px;

}

.form-control{
font-size: 25px;
 height: 35px; 
}


#rowColumnContact{
  margin-top: 2%;
min-height: 100vh;
font-size: 22px!important;
}


#btnContact{
 font-size: 22px;
 width: 360px;


}

#rowContact{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}


}

/*-------------------------------------------------------------------
                        1440 max 
 -------------------------------------------------------------------*/

@media (min-width:1440px) and (max-width:1919px) {
 
#rowGiftcard{
margin-top:20%;


}


#myNavbar2{
margin-top: 0%;


}


#ToritoLogo{
width: 14%;

}

#icoHome{
margin-right: 2%;
margin-top: 3%;
width: 7%;
}

#actorLabel{
font-size: 25px;

}

#card{
width: 22rem;
font-size: 25px;
}



#btnCheckout{

width: 18rem!important;
font-size: 25px;
height: 45px;

}



#btnHomeSmall{
width: 200px!important;
font-size: 20px!important;

}

#subTittle{
font-size: 40px;

}

#ftr1{
margin-top: -6%;

}


#ftr3{
font-size: 30px;
}


.form-control{
font-size: 22px;
 height: 32px; 
}

#rowContact{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

}



/*-------------------------------------------------------------------
                        1024 max to  1380
-------------------------------------------------------------------*/

@media (min-width:1180px) and (max-width:1439px) {
 
#rowGiftcard{
margin-top:20%;


}


#myNavbar2{
margin-top: 0%;


}


#ToritoLogo{
width: 14%;

}

#icoHome{
margin-right: 2%;
margin-top: 3%;
width: 7%;
}

#actorLabel{
font-size: 25px;

}

#card{
width: 22rem;
font-size: 25px;
}



#btnCheckout{

width: 18rem!important;
font-size: 25px;
height: 45px;

}



#btnHomeSmall{
width: 200px!important;
font-size: 20px!important;

}

#subTittle{
font-size: 40px;

}

#ftr1{
margin-top: -10%;

}


#ftr3{
font-size: 20px;
}


.form-control{
font-size: 22px;
 height: 32px; 
}

#rowContact{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}




}

/*-------------------------------------------------------------------
                        1025 max to  1179
-------------------------------------------------------------------*/

@media (min-width:1025px) and (max-width:1179px) {

#rowGiftcard{
margin-top:20%;


}


#myNavbar2{
margin-top: 0%;


}


#ToritoLogo{
width: 14%;

}

#icoHome{
margin-right: 2%;
margin-top: 3%;
width: 7%;
}

#actorLabel{
font-size: 25px;

}

#card{
width: 22rem;
font-size: 25px;
}



#btnCheckout{

width: 18rem!important;
font-size: 25px;
height: 45px;

}



#btnHomeSmall{
width: 200px!important;
font-size: 20px!important;

}

#subTittle{
font-size: 40px;

}

#ftr1{
margin-top: -10%;

}


#ftr3{
font-size: 20px;
}


.form-control{
font-size: 22px;
 height: 32px; 
}

#rowContact{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

}

/*-------------------------------------------------------------------
                        1024 max
-------------------------------------------------------------------*/

@media (min-width:800px) and (max-width:1024px) {
 
#rowGiftcard{
margin-top:20%;


}


#myNavbar2{
margin-top: 0%;


}


#ToritoLogo{
width: 18%;

}

#icoHome{
margin-right: 2%;
margin-top: 3%;
width: 7%;
}

#actorLabel{
font-size: 25px;

}

#card{
width: 22rem;
font-size: 25px;
}



#btnCheckout{

width: 18rem!important;
font-size: 25px;
height: 45px;

}



#btnHomeSmall{
width: 200px!important;
font-size: 20px!important;

}

#subTittle{
font-size: 40px;

}

#ftr1{
margin-top: -10%;

}


#ftr3{
font-size: 20px;
}


.form-control{
font-size: 22px;
 height: 32px; 
}

#rowContact{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}




}

/*-------------------------------------------------------------------
                        768 max and max width 980px
-------------------------------------------------------------------*/

@media (min-width:768px) and (max-width:798px) {


#rowGiftcard{
margin-top:25%;


}


#myNavbar2{
margin-top: 0%;


}


#ToritoLogo{
width: 18%;

}

#icoHome{
margin-right: 2%;
margin-top: 3%;
width: 10%;
}

#actorLabel{
font-size: 25px;

}

#card{
width: 22rem;
font-size: 25px;
}



#btnCheckout{

width: 18rem!important;
font-size: 25px;
height: 45px;

}



#btnHomeSmall{
width: 200px!important;
font-size: 20px!important;

}

#subTittle{
font-size: 40px;

}

#ftr1{
margin-top: -10%;

}


#ftr3{
font-size: 20px;
}


.form-control{
font-size: 22px;
 height: 32px; 
}

#rowContact{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}


  
}
/*-------------------------------------------------LANDSCAPE ------------------------------------------*/

@media  (max-width:1024px) and (orientation:landscape) {


#ftr1{
  margin-top: -15%;
  padding-bottom: 10%;
}

#rowColumnContact{
 
  min-height: 110vh;
}

#ToritoLogo{
width: 13%;

}


}


@media  (max-width:760px) and (orientation:landscape) {




#ToritoLogo{
width: 13%;

}

#ftr1{
  margin-top: -8%;
  padding-bottom: 10%;
}

#icoHome{
width: 8%;
margin-top: 2%;
}

#rowGiftcard{
margin-top: 15% ;

}

#containerCheck{
height:auto;
 min-height: 720px;

}

#rowColumnContact{
  
  min-height: 170vh;
}


}




@media  (max-width:684px) and (orientation:landscape) {

#ftr1{
  margin-top: -10%;
  padding-bottom: 10%;
}
#rowColumnContact{
 
  min-height: 195vh;
}

}

/*-------------------------------------------------------------------
                        768 max 
-------------------------------------------------------------------*/

@media  (max-width:425px) {

#rowColumnContact{
margin-top:6% ;
}


#ftr1{
margin-top: -20%!important;
margin-bottom: 10%;
}







}

