<header>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}

</style>
</header>




<body scroll="no" style="overflow: hidden" class="min-vh-100">
<div  *ngIf="loader" class="text-center" id="loader" style="">
<div class="col-12 min-vh-100 d-flex align-items-center justify-content-center">

<div class="text-primary" role="status">
  
<img src="https://res.cloudinary.com/dzyvb836r/image/upload/v1656210951/9_tndsk3.gif" id="loaderTorito" ><br>


<p class="m-2 p-2 " style="color: white;">Cargando...</p>


</div>

</div>
</div>
<!--Loader Div Ends-->

<div class ="w-100" *ngIf="!loader">

<!--Aca va el resto-->
<div class="min-vh-100">

        

              <!-- BARRA HORIZONTAL  --> 


  <div class="row">
    <div class="col-12">
        <div class="w3-top" id="myNavbar">
<div class=" w-100" id="myNavbar2" *ngIf=(user) >
                  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
                  <label  id="user" class="w3-bar-item"><i class='fas fa-hat-cowboy-side'></i> User: {{user}}</label>
                  <a  id="btnGiftcards" routerLink='/giftcards' class="w3-bar-item"><i class='fa fa-window-restore'></i> Giftcards</a>
                  <a  id="btnGiftcards" routerLink='/home' class="w3-bar-item"><i class='fa fa-home'></i> Home</a>
                  <a  class="btn-sm btn-warning" style="margin-top: 5%!important;" (click)="onLogout()" id="logOut"><i class='fa fa-sign-out'></i> Log Out</a>
                </div>
              </div>
          <div class=" w3-center " style="background-color: transparent!important;">
          <img   alt="Torito Logo" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1663034010/TORITO_yod7dk.png" id="ToritoLogo">
          </div>
                 
              </div>
    </div>
   
  </div>
  







            

         


<!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id=""><i class='fas fa-door-open'></i> Saliendo del sitio</h5>

                  
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-body "  >
                    <div class="modalConfirm" role="alert"  >


                          <p style=" text-align:left!important;"> Recuerda que para comprar <i class='fa fa-gift'></i> Giftcards deberas regresar a esta página web o escanear nuevamente el código QR. </p>




                

                      
                
                    </div>

                      <div class="modal-footer text-center">
                   <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                   <!-- <button type="button" class="btn btn-primary">Understood</button>-->
                  
                               <a class="btn btn-outline-dark p-2" href="https://quierolacarta.com/local/95"  ><i class='fa fa-cutlery'> </i> Carta Digital</a>
                                    
                              </div>
                  </div>
                </div>
              </div>
            </div>








                <router-outlet></router-outlet>

            </div>
<footer id="ftr1" class="footer text-center" style="">
<div class="w-100">

<a  class="m-2" id="btnNavSocial" href="https://www.facebook.com/torito.mza"><img  id="redSoc" class="fl-photo-img wp-image-19 size-full" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1663041973/FB_wk3wd9.png" alt="Facebook" itemprop="image" height="30" width="30"></a>
<a  class="m-2" id="" href="https://www.instagram.com/torito.mza/"><img id="redSoc" class="fl-photo-img wp-image-19 size-full" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1663041973/INSTGANTT_fppyhg.png" alt="instagram" itemprop="image" height="30" width="30"></a>
<a  class="m-2" id="" routerLink='/contact'><img id="redSoc" class="fl-photo-img wp-image-19 size-full" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1663041999/wp_ezckaz.png" alt="instagram" itemprop="image" height="30" width="30"></a>

</div>
<p  id="ftr3" class="m-2">© 2021 Torito Inc.</p> 

</footer>
<!--Acá finaliza el Torito Loader-->
</div>
</body>

