<section id="rowSuccess" style="min-height: 100vh !important;" >

<!-- Page Content -->
<div >
  <!-- Header/Home -->
  <div class=" " id="home" >

  <div class="row">
    <div class="col-12">
        <div class="w3-top" id="myNavbar">
     
                  <div class=" w-100" id="myNavbar3">
                  <div class="w3-bar w3-center w3-small" style="background-color: transparent!important;">
                  <label  id="user" class="w3-bar-item  "  style="background-color: transparent!important;" ></label>
                  <a  id="btnGiftcards"  class="w3-bar-item" style="background-color: transparent!important;" ></a>
                  <label  id="lblMyNav2"class="w3-bar-item " style="background-color: transparent!important;" ></label>
                  <a  class="" routerLink='/home' ><img src="https://res.cloudinary.com/dzyvb836r/image/upload/v1663035560/HOME_e3y8o7.png" id="icoHome"></a>

                </div>
              </div>
              </div>
    </div>
   
  </div>

   <div class="container">
 
  <div class="row align-items-center text-center" id="rowColumnContact" style="">
    <div class="col">
      
    </div>
    <div class="col align-items-center">
       
       <p class="m-2 p-2 text-center align-items-center"  id="btnSuccess" style="">
       <b>¡COMPRA EXITOSA!</b>
     </p>

   
    </div>
    <div class="col">
      
    </div>
  </div>
  
</div>





<!-- <div class="row w-100 align-items-center" >

        <div class="col-12 min-vh-100 d-flex align-items-center">
          <div class="d-flex align-items-center flex-column min-vh-100" id="columnHome" >

  
             <div class="col min-vh-100 align-middle"  >
               
                </div>
                
          </div>

        </div>
        
       

</div>
END PAGE CONTENT -->


</div>
</div>

    <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id=""><i class='fas fa-door-open'></i> Saliendo del sitio</h5>

                  
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-body "  >
                    <div class="modalConfirm" role="alert"  >


                          <p style=" text-align:left!important;"> Recuerda que para comprar <i class='fa fa-gift'></i> Giftcards deberas regresar a esta página web o escanear nuevamente el código QR. </p>




                

                      
                
                    </div>

                      <div class="modal-footer text-center">
                   <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                   <!-- <button type="button" class="btn btn-primary">Understood</button>-->
                  
                               <a class="btn btn-outline-dark p-2" href="https://quierolacarta.com/local/95"  ><i class='fa fa-cutlery'> </i> Carta Digital</a>
                                    
                              </div>
                  </div>
                </div>
              </div>
            </div>









</section>









