




<div class ="w-100" id="checkoutGiftcard">

<!--Aca va el resto-->
<div class="min-vh-100">

<section  class="min-vh-100" >


	<div class="row">
    <div class="col-12">
        <div class="w3-top" id="myNavbar" >
     
                  <div class=" w-100" id="myNavbar3">
                  <div class="w3-bar w3-center w3-small" style="background-color: transparent!important;">
                  <label  id="user" class="w3-bar-item  "  style="background-color: transparent!important;" ></label>
                  <a  id="btnGiftcards"  class="w3-bar-item" style="background-color: transparent!important;" ></a>
                  <label  id="lblMyNav2"class="w3-bar-item " style="background-color: transparent!important;" ></label>
                  <a  class="" routerLink='/home' ><img src="https://res.cloudinary.com/dzyvb836r/image/upload/v1663035560/HOME_e3y8o7.png" id="icoHome"></a>

                </div>
              </div>
              </div>
    </div>
   
  </div>

    <div class="container" style="height:auto!important; min-height: 580px!important;">
 
			<form class="text-center " #giftcardForm="ngForm" (ngSubmit)="checkout(giftcardForm)" id="formMP">

				<div class="row justify-content-center" id="rowGiftcard" >
				<div class="card m-2 " id="card">
					
				  
				  <div class="card-body">
				    
				    <label class="text-center" id="actorLabel"><b> COMPRADOR</b></label><br>
				    	<label for="buyerName">NOMBRE: </label>
				<input class="form-control" type="text" name="buyerName" #buyerName="ngModel" [(ngModel)]="giftcard.buyerName" required />
				
				<!--[(ngModel)]="project.name" 2 ways data binding para modificar el atributo name del project-->
				<!-- el # indica que es la identificacion para Angular-->
				<span class="form_error" *ngIf="buyerName.touched && !buyerName.valid">El nombre es
					obligatorio<br></span>

					<label for="buyerEmail" id="giftcardForm2">E-MAIL:</label><br>
    								<input class="form-control" type="text" name="buyerEmail" #buyerEmail="ngModel"
    									[(ngModel)]="giftcard.buyerEmail" required />
    								<span class="form_error" *ngIf="buyerEmail.touched && !buyerEmail.valid">El e-mail es obligatorio<br></span>

				<label for="amount"> MONTO EN $:</label><br>
				<input type="number" class="form-control" name="amount" min="1" #amount="ngModel" [(ngModel)]="giftcard.amount" required />
				<span class="form_error" *ngIf="amount.touched && !amount.valid">El monto es obligatorio.</span>


				  </div>
				</div>



					<div class="card m-2" id="card">
				  
				  <div class="card-body" id="cardBody">
				   <label class="text-center"id="actorLabel"><b> DESTINATARIO</b></label><br>  
				    <label for="client">NOMBRE:</label>
				<input type="text" class="form-control" name="client" #client="ngModel" [(ngModel)]="giftcard.client" required />
 				
 				<span class="form_error" *ngIf="client.touched && !client.valid">El destinatario es obligatorio<br></span>

 				<label for="emailClient">E-MAIL:</label>
    								<input class="form-control" type="text" name="emailClient" #emailClient="ngModel"
    									[(ngModel)]="giftcard.emailClient" required />
    								<span class="form_error" *ngIf="emailClient.touched && !emailClient.valid">El email del destinatario es obligatorio <br></span>

						<label for="phoneClient">TELÉFONO: </label><br>
    								<input class="form-control" type="number" name="phoneClient" #phoneClient="ngModel"
    									[(ngModel)]="giftcard.phoneClient" min="1000000000" required/>
    								<span class="form_error" *ngIf="phoneClient.touched && !phoneClient.valid">El teléfono del destinatario está incompleto. Recuerda ingresa la característica.</span>
				    
				  </div>
				</div>
			</div>


<div class="row justify-content-center m-1 p-2" id="">
				  <button type="button" [disabled]="!giftcardForm.form.valid" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" 
				  id="btnCheckout"><i class='fa fa-shopping-cart' ></i><!--<i class='fa fa-shopping-basket'></i>--> Comprar </button>
				

				</div>

				
				

			</form>


  
</div>

<!--eND PAGE CONTENT -->




</section>
</div>
</div>


	<!-- Modal -->
						<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered">
						    <div class="modal-content">
						      <div class="modal-header ">
						        <h6 class="modal-title " style="">Saldremos a <i class='fa fa-credit-card'></i> Mercado Pago para concretar la compra.	</h6>

						      
						        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						      </div>

						      <div class="modal-body" >
						        <div class="modalConfirm" role="alert" *ngIf="entendido==false" >

													
												<form class="Formulario" #giftcardForm="ngForm" (ngSubmit)="checkout(giftcardForm)" id="formMP">

														<label for="buyerName"><!--<i class='fa fa-user'></i>--> Comprador:</label> &nbsp;
														
														<label type="text" name="status" #status="ngModel" [(ngModel)]="giftcard.buyerName">
															<h4> {{giftcard.buyerName}}
															</h4></label>

														
														<br>
															
														<label for="buyerEmail" id="giftcardForm2"><!--<i class='fas fa-mail-bulk'></i>--> E-mail:</label>&nbsp;
					    								<label type="text" name="buyerEmail" #status="ngModel" [(ngModel)]="giftcard.buyerEmail">
															<h4> {{giftcard.buyerEmail}}
															</h4></label><br>
														
																
																<label for="amount"><!--<i class='fas fa-money-check-alt'></i>--> $ Monto en ARS:</label>&nbsp;
																	<label type="number" name="amount" #status="ngModel" [(ngModel)]="giftcard.amount">
																<h4>$ {{giftcard.amount}}
																</h4></label>
														<!-- --><br>
	<div class="modal-header">
        
      </div>	<br>															

															<label for="client"><i class='fa fa-gift'></i> Destinatario:</label>&nbsp;	
															<label type="text" name="status" #status="ngModel" [(ngModel)]="giftcard.client">
															<h4> {{giftcard.client}}
															</h4></label><br>

															<label for="emailClient"><i class='fa fa-envelope-open-o'></i> E-mail:</label>&nbsp;
															<label type="text" name="status" #status="ngModel" [(ngModel)]="giftcard.emailClient">
															<h4> {{giftcard.emailClient}}
															</h4></label><br>


   														<label for="phoneClient"><i class='fa fa-envelope-open-o'></i> Teléfono:</label>&nbsp;
															<label type="text" name="status" #status="ngModel" [(ngModel)]="giftcard.phoneClient">
															<h4> {{giftcard.phoneClient}}
															</h4></label><br><br>







										<div class="modal-footer text-center">
						       <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
						       <!-- <button type="button" class="btn btn-primary">Understood</button>-->
						      
												 			<button  class="btn btn-dark" type="submit" data-bs-dismiss="modal" [disabled]="!giftcardForm.form.valid"> <i class='fas fa-rocket me-2'></i>  Mercado Pago </button>

																		<br>
															</div>
													</form>
									<!--<button class="btn btn-warning" (click)="entendidoMet()">Ok</button>-->
										</div>
						      </div>
						    </div>
						  </div>
						</div>

<!--FIN MODAL-->

